---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pagetitlt = "My Astro Learning Blog";
---

<Layout pageTitle={pagetitlt}>
  <Nav />

  <div>
    <h1>{pagetitlt}</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      {
        allPosts.map((post: any) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
